/* Global Styling */
*{
    padding:0;
    margin: 0;
}

body{
    background-color: #e1e0df;
    color: #737276;
    font-family: 'Comfortaa', sans-serif;
}

/* Styling for the title section */
.team-heading {
    background-color: #e1e0df;
    color: rgb(34, 38, 48,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for the company branding section */
.logo {
    display: flex;
    justify-content: center;
    width: 12%;
}

.company {
    color: rgb(252, 252, 252, 0.7);
    font-weight: 900;
    font-size: 2.5em;
}

h4 {
    color: rgb(250, 143, 61, 0.8);
}

h1 {
    font-size: 10vh;
}

/* Styling for the card sections */
.team-area{
    flex-wrap:wrap;
}
.employee-card{
    border-radius: 9px;
    border: none;
    background-color: #fdfdfd;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) -2px 5px 6px 0px;
    width: 30%;
}

.employee-card:hover{
    box-shadow: rgba(0, 0, 0, 0.5) -2px 2px 8px 0px;
}

/* Styling for the profile pictures */
.portrait {
    width:100%;
    border-radius: 2px;
}

/* Styling for the employee name section */
.card-header {
    background-color: #fdfdfd;
    font-family: 'Dosis', sans-serif;
}

h2 {
    color: #fa903f ;
}

.grey {
    border-radius: 10px;
    color:#cbcaca;
    font-family: 'Manjari', sans-serif;
}

/* Styling for the employee detail section */
.list-group-item, .card-header {
    border: none;
}

.list-group-item {
    padding-top: 0px;
    padding-bottom: 10px;
}

/* Styling for the links */
a, a:visited {
    color: #fa903f;
}

a:hover {
    text-decoration: none;
    color: #779f9f;
}
